include blocks/head-service/head
include common/mixins.jade
include common/js.jade

body
	.layout_center_wrapper-project
		+top-line()
		header.header
			.container
				.row
					.col-lg-4.col-md-3
					.col-lg-5.col-md-6.col-sm-8.col-xs-12
						.title__block
							h1.title
								| Прогноз
								br
								span Скидок
							.title__desc
								| вероятность выгоды 100%
					.col-lg-3.col-md-3.col-sm-4.col-xs-12
						.sale__block
							.sale__20
								|от
								span 10%
							.sale__30
								|до
								span 30%
				.row
					.col-lg-8.col-md-9.col-lg-offset-4.col-md-offset-3.col-xs-12
						.everyday
							|Следи за прогнозом скидок каждый день в году
		section.section__months
			.container
				.row
					.col-lg-6.col-md-6.col-lg-offset-6.col-md-offset-6
						.months
							.months__buttons
								.months__prev
								.months__next
							.months__title
								|июль
		section.make__section
			.tabbed
				.container
					.row
						.col-lg-2.col-lg-offset-4.col-md-5.col-md-offset-1.col-sm-6.col-xs-12.np
							.tabbed__wrap
								input#tab-nav-1(type='radio', name='tabs')
								label(for='tab-nav-1') Завершённые
						.col-lg-2.col-md-5.col-sm-6.col-xs-12.np
							.tabbed__wrap
								input#tab-nav-2(type='radio', name='tabs', checked='')
								label(for='tab-nav-2') Прогноз
		.tabs__wrapper.tabs__wrapper__online
			main.main
			.container
				|Прогноз
				- var date = new Date();

				each item, number in cards
					if ((number % 4) == 0)
						.row
							each item, j in cards.slice(number, number+4)
								+grid-3()
									+active-cards(item)
		.tabs__wrapper.tabs__wrapper__offline
			main.main
				.container
					- var date = new Date();
					each item, number in cards
						if ((number % 4) == 0)
							.row
								each item, j in cards.slice(number, number+4)
									+grid-3()
										+active-cards(item)





	+footer-text()


	include blocks/footer-service/footer-service
